@model BookRentApp.v1.Models.DomainModels.Rent

<h2>Rented Books by @Model.User.FirstName</h2>


    
    @foreach (var item in Model.MyLibrary)
    {<ul>
        <li><h3>@item.Title</h3></li>
        <li>Author: @item.Author</li>
        <li>Genre: @item.Genre</li>
        @if (Model.IsRented)
            {
                <li>Rented: Yes</li>
            }
            else
            {
                <li>Rented: No</li>
            }
        
    </ul>
    }
    

