.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

    .menu > div {
        height: auto;
        margin: 0 auto;
        
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     .menu > div > div {
        margin-bottom: 30px;
        margin-right: 30px;
     } 

    order-status{
        font-size:30pt;
    }

    .delivered {
    color: green;
    }   

    .not-delivered{
        color:red;
    }

    .orderDetails{
        font-size:16pt;
        font-weight: 600;
    }

    .carousel-custom img {
        height: 400px;
    }